/* styles.css */

/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0; 
    background-color: #f8f9fa; /* light gray background for the entire app */
}

/* Container Styles */
.dbc {  /* Targeting dbc.Container */
    padding: 10px;
}

/* Title Styles */
h1 {
    color: #343a40; /* Dark gray for the main title */
    text-align: center;
    margin-top: 10px; /* Space above the title */
    margin-bottom: 5px; /* Space below the title */
}

/* Image Display Styles */
#output-image-upload,
#output-segmentation,
#output-method {
    border: 1px solid #ced4da; /* A softer border color */
    padding: 10px;
    height: 400px;
    display: flex;            /* Use flexbox for centering the image */
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    background-color: #fff;   /* White background for the image containers */
    border-radius: 5px;      /* Rounded corners */
}

/* Style images to fit within their containers */
#output-image-upload img,
#output-segmentation img,
#output-method img {
    max-width: 100%; /* Ensure image doesn't exceed container width */
    max-height: 100%;/* Ensure image doesn't exceed container height */
    object-fit: contain; /* 'contain' ensures the entire image is visible */
}
/* Style for output-metrics */
#output-metrics {
    border: 2px #3a4fa1;
    padding: 10px;
    background-color: #f0fdf4; /* Very light green background */
    border-radius: 5px;
}

/* Row Styles */
.row {
    margin-bottom: 10px;
}

/* Column Styles */
.col {
    padding: 10px;
}

/* Settings Section Styles */
.settings-section {
    background-color: #c1cfd3;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.settings-section h4 {
    color: #3a4fa1; /* Headings */
    margin-bottom: 10px;
}

/* Dropdown Styles */
.Select-control { /* Targeting Dash's Dropdown component (inspect element to confirm) */
    border: 1px solid #ced4da !important; /* Override default border */
    border-radius: 5px !important;
    padding: 5px !important;
}

/* Metric Selection Styles */
#output-metrics {
    border: 1px solid #3a4fa1; /* border for metrics */
    padding: 10px;
    background-color: #f0f4fd; /* background */
    border-radius: 5px;
}

/* Button Styles */
.btn-primary {
    background-color: #3a4fa1;
    border-color: #3a4fa1;
    color: #fff;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #3a4fa1;
    border-color: #3a4fa1;
}

/* Adjustments for Dash Bootstrap Components */
.mb-3 { margin-bottom: 1.5rem !important; }  /*Increase title space */
.mb-2 { margin-bottom: 1rem !important; }  /*Increase dropdown space */